$highlight_color: #2dbe60;

body {
  font-family: Oxygen, Helvetica, Arial, sans-serif;
}
.container {
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.col-xs-12 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

header .well {
  padding-top: 5px;
  padding-bottom: 5px;
  .user-links {
    float: right;
    color: #ccc;
  }
}
h1, h2, h3, h4, h5 {
  font-family: Merriweather;
  font-weight: 300;
  color: $highlight_color;
}
a:link, a:visited, a:hover, a:active {
  color: $highlight_color;
}

#welcome {
  h1 {
    color: $highlight_color
  }
  main {
    margin: 0 auto;
    width: 360px;
  }
}

#sidebar {
  position: absolute;
  padding-left: 1em;
  width: 95%;
  overflow: hidden;
  overflow-y: scroll;
}

.notes {
  list-style: none;
  margin-top: 1em;
  padding: 0;
  width: 100%;
  color: #999;
  li {
    border-top: 1px solid #ddd;
    padding: 1em;
    height: 100px;
    font-size: 90%;
    cursor: pointer;
    overflow: hidden;
    &:first-of-type {
      border-top: none;
    }
    &:hover {
      background-color: $highlight_color;
      .note__title {
        color: black;
      }
      .note__body {
        color: black;
      }
    }
    .note__title {
      color: $highlight_color;
      font-family: Merriweather;
      font-size: 120%;
      font-weight: 300;
    }
    .note__body {
      height: 40px;
      overflow: hidden;
    }
    .note__date {
      color: black;
      font-size: rem-calc(12);
    }
  }
}
.card {
  margin-bottom: 1em;
  padding: 20px;
  font-family: Merriweather;
  ul {
    margin-bottom: 0;
  }
}

.card--login {
  margin-top: 20px;
}

.card--login__field {
  label {
  }
  input {
    border-width: 0px;
    border-left: 4px solid #c2c2c2;
    box-shadow: none;
  }
}

.card--login__submit {
  width: 100%;
  margin: 0;
  margin-top: 10px;
}

#new_user {
  input[type="text"],
  input[type="password"] {
    width: 300px;
    font-size: 120%;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25em;
  }
}

span.login {
  margin-left: 1em;
}