$highlight_color: #2dbe60;

body {
  font-family: Oxygen, Helvetica, Arial, sans-serif;
}
.container {
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.col-xs-12 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

header .well {
  padding-left: 2em;
  padding-top: 5px;
  padding-bottom: 5px;
  .user-links {
    float: right;
    padding-right: 1em;
    color: #ccc;
  }
  .user-name {
    padding: 1em;
  }
}

h1, h2, h3, h4, h5 {
  font-family: Merriweather;
  font-weight: 300;
  color: $highlight_color;
}

a:link, a:visited, a:hover, a:active {
  color: $highlight_color;
}

i.fa-trash-o {
  color: #ccc;
  font-size: 150%;
  vertical-align: middle;
  margin-left: 1em;
  &:hover {
    color: #999;
  }
}

#sidebar {
  position: absolute;
  padding-left: 1em;
  width: 95%;
  overflow: hidden;
  overflow-y: scroll;
}

.notes {
  list-style: none;
  margin-top: 1em;
  padding: 0;
  width: 100%;
  color: #999;
  li {
    border-top: 1px solid #ddd;
    padding: 1em;
    height: 100px;
    font-size: 90%;
    cursor: pointer;
    overflow: hidden;
    &:first-of-type {
      border-top: none;
    }
    &:hover {
      color: white;
      background-color: $highlight_color;
      .note-title, .note-body, .note-date {
        color: white;
        text-decoration: none;
      }
    }
    .note-title {
      color: black;
      font-family: Merriweather;
      font-size: 120%;
      font-weight: 300;
    }
    .note-body {
      height: 45px;
      color: #999;
      overflow: hidden;
    }
    .note-date {
      color: #999;
    }
  }
}

.card {
  margin-bottom: 1em;
  padding: 20px;
  font-family: Merriweather;
  ul {
    margin-bottom: 0;
  }
}

.card--login {
  margin-top: 20px;
}

.card--login__field {
  font-family: Merriweather;
  font-weight: 500;
  font-size: 90%;
  label {
  }
  input {
    border-width: 0px;
    border-left: 4px solid #c2c2c2;
    box-shadow: none;
    width: 100%;
  }
}

.card--login__submit {
  width: 100%;
  margin: 0;
  margin-top: 10px;
}

span.login {
  font-family: Merriweather;
  font-weight: 500;
  font-size: 90%;
  margin-left: 1em;
}
